language: python
python:
  - "2.7"
  - "3.6"
install:
  - sudo apt-get update
  - echo $TRAVIS_PYTHON_VERSION
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n test python=$TRAVIS_PYTHON_VERSION numpy numba scipy pytest pytest-cov coverage sphinx nose
  - source activate test
  - pip install -U codecov
  - pip install coveralls
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
       pip install -U backports.functools_lru_cache;
    fi
  - python setup.py install
  
script:
  - python -m pytest --cov 
  - coverage xml
  
deploy:
  provider: pypi
  user: %PYPI_USER
  password: $PYPI_PASS
  on:
      tags: true
      branch: master

after_success:
    - codecov
    - coveralls
